@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: MinecraftTen;
    src: url(/fonts/MinecraftTen.woff2);
  }
  @font-face {
    font-family: MinecraftFiveBold;
    src: url(/fonts/MinecraftFive-Bold.woff2);
  }
}
